.logovilla{
    height: 4vh;
    margin-left: 2rem;
}


.cabecalho{
    display: flex;
    gap: 3rem;
    background-color: #1a0a00;
    height: 9vh;
    width: 100%;
    align-items: center;
    
}

.botoes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.botoes{
    background-color: #1a0a00;
    border: none;
}


.iniciobutton{
    font-size: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sobrebutton{
    font-size: 30px;
    margin-right: 1rem;
}

.Produtosbutton{
    font-size: 30px;
    margin-right: 1rem;
    

}
.contatobutton{
    font-size: 30px;
    margin-right: 1rem;
}

.Buttonface{
    height: 2vh;
}

.tittleVilla{
    font-size: 70px;
    font-family: 'Muli', sans-serif;
    color: #1a0a00;
    font-weight: bolder;
   
}
.textVilla{
    font-size: 35px;
    font-family: 'Muli', sans-serif;
    margin-left: 3rem;
    margin-right: 3rem;
    
}

.textosVilla{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner01{
    border-bottom:12px solid #d27339;
    width: 100%;
}

.fotofelipe{
    width: 100%;
}

#carouselExampleControls{
    background-image: url(assets/bkg\ linguiças.png);
    background-size: cover;
}
