@media(max-width: 1200px){
    .cabecalho{
        width: 100%;
    }

    .banner01{
        width: 100%;
    }
    .header .container{
        width: 100%;
    }
    .fotoFelipe{
        display: none;
    }
    .tittleVilla{
        font-size: 30px;
    }
    .Felipe{
        width: 100%;
    }
    .textVilla{
        font-size: 15px;
    }

    .Produtos{
        width: 100%;
        background-size: 150vw;

    }

    .ling1{
        height: 40vh;
    }
    .ling2{
        height: 40vh;
    }
    .ling3{
        height: 40vh;
    }
    .rastreio{
        width: 100%;
        height: 50vh;
    }
    .textrastreio{
        margin-right: 2rem;
        font-size: 12px;
    }
    .tittlerastreabilidade{
        font-size: 45px;
    }
    .imgrastreio{
        height: 50vh;

    }

    .fornecedores{
        width: 100%;
    }

    .fornecedor01{
        height: 40vh;
    }

    .fornecedor02{
        height: 40vh;
    }

    .fornecedor03{
        height: 40vh;
    }
    .tittlesustentabilidade{
        padding-top: 5rem;
        font-size: 30px;
        
    }
    .textsustentabilidade{
        font-size: 15px;
        
    }
    .sustentabilidade{
        width: 100%;
        height: 45vh;
    
        background-size: 100%;
    }

    .mapa{
        width: 100%;
        height: 52vh;
    }
}

@media(max-width: 1024px){
    .cabecalho{
        width: 100%;
    }
    .banner01{
        width: 100%;
    }
    .rastreio{
        width: 100%;
    }
    .tittlerastreabilidade{
        font-size: 20px;
    }

    .textrastreio{
        font-size: 15px;
    }
    .fornecedores{
        width: 100%;
    }
    .fornecedor01{
        height: 35vh;

    }
    .fornecedor02{
        height: 35vh;

    }
    .fornecedor03{
        height: 35vh;

    }
}


@media(max-width: 768px){
    .banner01{
        width: 100%;
    }
    .textVilla{
        font-size: 10px;
    }

    .Produtos{
        background-size: 100vw;
        height: 45vh;
    }
    .tittleprodutos{
        font-size: 30px;
    }
    .ling1{
        height: 30vh;
    }

    .ling2{
        height: 30vh;

    }
    .ling3{
        height: 30vh;
    }
    .sustentabilidade{
        width:100%;
    }
    .tittlerastreabilidade{
        font-size: 20px;
    }
   
    .rastreio{
        height: 41vh;
        
        
    }
    .textrastreio{
        font-size: 10px;
        margin-right: 3rem;
    }

    .imgrastreio{
        height: 30vh;
    }

    .fornecedores{
        width: 100%;
    }
    .fornecedor01{
        height: 25vh;

    }
    .fornecedor02{
        height: 25vh;
    }
    .fornecedor03{
        height: 25vh;

    }
}

@media(max-width: 1080px){
    .logovilla{
        height: 4vh;
        margin-left: 2rem;
    }
    
    
    .cabecalho{
        display: flex;
        gap: 3rem;
        background-color: #1a0a00;
        height: 9vh;
        width: 100%;
        align-items: center;
        
    }
    
    .botoes a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        
    }
    .botoes{
        background-color: #1a0a00;
        border: none;
    }
    
    
    .iniciobutton{
        font-size: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .sobrebutton{
        font-size: 30px;
        margin-right: 1rem;
    }
    
    .Produtosbutton{
        font-size: 30px;
        margin-right: 1rem;
        
    
    }
    .contatobutton{
        font-size: 30px;
        margin-right: 1rem;
    }
    
    .Buttonface{
        height: 2vh;
    }
    
    .tittleVilla{
        font-size: 70px;
        font-family: 'Muli', sans-serif;
        color: #1a0a00;
        font-weight: bolder;
       
    }
    .textVilla{
        font-size: 35px;
        font-family: 'Muli', sans-serif;
        margin-left: 3rem;
        margin-right: 3rem;
        
    }
    
    .textosVilla{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .banner01{
        border-bottom:12px solid #d27339;
    }
}