

@media(max-width:1440px){
    .textVilla{
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 15px;
    }
    .textsustentabilidade{
        font-size: 15px;
        line-height: 16px;
    }
    .tittlesustentabilidade{
        font-size:60px;
    }
    .sustentabilidade{
        height: 70vh;
    }
}

@media(max-width: 1200px){
    .Buttonface {
        margin-right: 0px;
    }
    .Buttoninsta {
        margin-right: 0px;
    }
    .Buttonwhats {
        margin-right: 0px;
    }
    .cabecalho{
        width: 100%;
    }
    .banner1080{
        display: NONE;
    }
    .banner01{
        width: 100%;
    }
    .header .container{
        width: 100%;
    }
    .fotoFelipe{
        display: none;
    }
    .tittleVilla{
        font-size: 30px;
    }
    .Felipe{
        width: 100%;
    }
    .textVilla{
        font-size: 15px;
    }

    .Produtos{
        width: 100%;
        background-size: 150vw;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .ling1{
        height: 30vh;
    }
    .ling2{
        height: 30vh;
    }
    .ling3{
        height: 30vh;
    }
    .ling4{
        height: 30vh;
    }
    
    .rastreio{
        width: 100%;
        height: 50vh;
    }
    .textrastreio{
        margin-right: 2rem;
        font-size: 12px;
    }
    .tittlerastreabilidade{
        font-size: 45px;
    }
    .imgrastreio{
        height: 50vh;

    }

    .fornecedores{
        width: 100%;
    }

    .fornecedor01{
        height: 40vh;
    }

    .fornecedor02{
        height: 40vh;
    }

    .fornecedor03{
        height: 40vh;
    }
    .tittlesustentabilidade{
        padding-top: 5rem;
        font-size: 30px;
        
    }
    .textsustentabilidade{
        font-size: 15px;
        
    }
    .sustentabilidade{
        width: 100%;
        height: 45vh;
    
        background-size: 100%;
    }

    .mapa{
        width: 100%;
        height: 52vh;
    }
}

@media(max-width: 1024px){
    .botoes {
        margin-right: 0px;
    }
    .cabecalho{
        width: 100%;
    }
    .banner01{
        width: 100%;
    }
    .rastreio{
        width: 100%;
        justify-content: center;
    }
    .tittlerastreabilidade{
        font-size: 30px;
        margin-right: 2rem;
    }

    .textrastreio{
        margin-top: 0;
        font-size: 15px;
        letter-spacing: 0;
        
    }
    .fornecedores{
        width: 100%;
    }
    .fornecedor01{
        height: 35vh;

    }
    .fornecedor02{
        height: 35vh;

    }
    .fornecedor03{
        height: 35vh;

    }
    .ling1{
        height: 45vh;
    }

    .ling2{
        height: 45vh;
    }

    .ling3{
        height: 45vh;
    }
    .ling4{
        height: 45vh;
    }
    .sustentabilidade{
        height: 60vh;
    }
    .textsustentabilidade{
        letter-spacing: 0;
        line-height: 17px;
    }
    .tittlesustentabilidade{
        margin-top: 0rem;
    }
    
}


@media(max-width: 768px){
    .banner{
        background-image: url(./banner1080.png);
        height: 400px;
    }
    .nav-item {
        font-size: 12px;
        margin-right: 2rem;
    }
    .icones img {
        width: 20px;
    }
    .tittleVilla{
        font-size: 40px;
    }
    
    .textVilla{
        font-size: 18px;
        line-height: 20px;
    }
    .Felipe{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .fotosobrenos{
        display: block;
        height: 92vh;
    }

    .Produtos{
        background-size: cover;
        height: 70vh;
    }
    .tittleprodutos{
        font-size: 30px;
    }
    .ling1{
        height: 35vh;
    }

    .ling2{
        height: 35vh;

    }
    .ling3{
        height: 35vh;
    }
    .ling4{
        height: 35vh;
    }
    .sustentabilidade{
        width:100%;
    }
    .tittlerastreabilidade{
        font-size: 30px;
       
    }
   
    .rastreio{
        height: 60vh;
              
    }
    .textrastreio{
        font-size: 15px;
        margin-right: 3rem;
        line-height: 20px;
        text-align:start;
    }
    .cestafull{
        display: block;
        height: 50vh;
    }

    .imgrastreio{
        display: none;
        height: 30vh;
    }

    .fornecedores{
        width: 100%;
    }
    .fornecedor01{
        height: 25vh;

    }
    .fornecedor02{
        height: 25vh;
    }
    .fornecedor03{
        height: 25vh;

    }
    .sustentabilidade{
        height: 50vh;
        background-size: cover;
        background-position: center;
    }
    .tittlesustentabilidade{
        padding-top: 2rem;
        font-size: 37px;
    }
    .textsustentabilidade{
        margin-top: 1rem;
        font-size: 12px;
        padding-bottom: 2rem;
    }
    .textfoot{
        font-size: 15px;
    }
}



/*
@media(max-width: 1080px){
    .logovilla{
        height: 4vh;
        margin-left: 2rem;
    }
    .container{
        width: 100%;
    }
    
    
    
    .cabecalho{
        display: flex;
        background-color: #1a0a00;
        height: 8vh;
        width: 100%;
        align-items: center;
        justify-content: none;

        
    }
    .imgling{
        margin-left: 4rem;
    }

    .banner01{
        display: none;
        width: 100%;
        height: 23vh;
    }
    
    .botoes a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        
    }
    .botoes{
        background-color: #1a0a00;
        border: none;
    }
    
    
    .iniciobutton{
        font-size: 15px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .sobrebutton{
        font-size: 20px;
        margin-right: 1rem;
    }
    
    .Produtosbutton{
        font-size: 15px;
        margin-right: 1rem;
        
    
    }
    .contatobutton{
        font-size: 15px;
        margin-right: 1rem;
    }
    
    .Buttonface{
        height: 2vh;
    }
    .textrastreio{
        margin-left: 6rem;
    }
    .fornecedores{
        width: 100%;
    }
    
    .tittleVilla{
        font-size: 70px;
        font-family: 'Muli', sans-serif;
        color: #1a0a00;
        font-weight: bolder;
       
    }
    .textVilla{
        font-size: 35px;
        font-family: 'Muli', sans-serif;
        margin-left: 3rem;
        margin-right: 3rem;
        
    }
    
    .textosVilla{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    
    .fornecedores{
        width: 100%;
    }

    .fornecedor01{
        height: 17vh;
    }

    .fornecedor02{
        height: 17vh;
    }

    .fornecedor03{
        height: 17vh;
    }
    .imgrastreio{
        height:20vh
    }
    .rastreio{
        height: 30vh;
        width: 100%;
        align-items: center;
        
    }
    .sustentabilidade{
        height: 28vh;
        background-size:120%;
        width: 100%;
       
    }

    .textsustentabilidade{
        font-size: 19px;
    }
    .banner01{
        height: 50vh;
    }
}
*/
/*
 @media(max-width: 425px){
    .cabecalho{
        width: auto;
    }
    .banner{
        background-size: cover;
        width: 89.6vh;
    }
    .tittleVilla{
        width: 100%;
    }
    .textVilla{
        font-size: 15px;
    }
    
    
    .fotosobrenos{
        height: 50vh;
        width: 100%;
        
    }
    .Felipe{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .Produtos{
        background-size: cover;
        width: 100%;

    }
    .tittleprodutos{
        margin-bottom: 0;
        margin-top: 0;
    }
    .ling1{
        height: 30vh;
    }
    .ling2{
        height: 30vh;
    }
    .ling3{
        height: 30vh;
    }
    .ling4{
        height: 30vh;
    }
}

 
 
 
        
@media(max-width: 400px){
    
    .cabecalho{
     width: 10vh;
     height: auto;
     justify-content: flex-start;
     min-width: 100%;
     flex-direction: column;
    }
 
    .ButtonImg img {
     height: auto;
     margin: 10px 5px 20px 5px;
    }
 
    .head{
     flex-direction: column;
    }
 
    .logovilla{
     margin-top: 20px;
     padding-left: 0;
     margin-right: 0;
    }
 
    .nav-item {
     margin-right: 0;
    }
 
    .iniciobutton{
     font-size: 10px;
     margin-right: 1rem;
     padding-right: 0;
     margin-left: 0.3rem;
 
     }
     .sobrebutton{
         font-size: 10px;
         padding-right: 0;
         margin-right: 1rem;
     }    
     

     .Produtosbutton{
         font-size: 10px;
         padding-right: 0;
         margin-right: 1rem;
     
     }
     .contatobutton{
         font-size: 10px;
         padding-right: 0rem;
         margin-right: 1rem;
     }
     .icones{
         display: flex;
     
     }
     
     
     .Buttonface{
         height: 0.7vh;
     }
     .Buttoninsta{
         height: 1vh;
     }
     .buttoninsta{
         height: 2vh;
     }
     .buttonface{
         height: 2vh;
     }
     .buttonwhats{
         height: 2vh;
     }
     .Felipe{
         display: flex;
         justify-content: center;
         flex-direction: column;
     }
     .fotosobrenos{
         display: block;
         width: 100%;
         height: 45vh;
     }
 
     
     .banner01{
         height: 27vh;
     }
     /*.textosVilla{
         
     }
*/
/*
     .textVilla{
         margin-left: 0;
         line-height: 20px;
         margin-right: 3rem;
         letter-spacing: 0.5px;
         font-size: 15px;
     }
     .tittleVilla{
         margin-left: 0;
     }
 
     .Produtos{
         background-size: cover;
         height: 50vh;
         display: flex;
         align-items: center;
         justify-content: center;
     }
 
     .ling1{
         height: 18vh;
         margin-right: 2rem;
        
     }
     .ling2{
         height: 18vh;
         margin-left: 6rem;
     }
     .ling3{
         height: 18vh;
     }
     .ling4{
         height: 18vh;
         margin-left: 6rem;
     }
 
     .tittleprodutos{
         font-size: 20px;
         padding-top: 1rem;
         margin-bottom: 0.5rem;
     }
 
 
     .rastreio{
         width: 100%;
         height: 40vh;
         margin-right: 1rem;
 
     }
     
     .textrastreio{
         font-size: 10px;
         text-align:right;
         width: 100%;
         line-height: 10px;
         
         
     }
     .tittlerastreabilidade{
         font-size: 15px;
         width: 100%;
         margin-right: 0;
         padding-right: 0;
         margin-left: 0;
         padding-left: 0;
         padding-top: 2rem;
        
         
     }
     .cestafull{
         display: block;
         height: 30vh;
         margin-left: 3rem;
     }
     
     .inforastreio{
        width: 100%;
         margin-right: 4rem;
         margin-left: 0;
         padding-left: 0;
         padding-right: 0;
     }
 
     .iconesrastreio{
         margin-bottom: 0;
         margin-top: 2rem;
         padding-top: 3.5rem;
     }
     .fornecedores{
         height: 30vh;
     }
     .fornecedor01{
         height: 15vh;
     }
     .fornecedor02{
         height: 15vh;
     }
     .fornecedor03{
         height: 15vh;
     }
     .imgrastreio{
         display: none;
     }
     
     .sustentabilidade{
         display: none;
     }
     .mapbox{
         display: none;
     }
 
     .foot{
         display: none;
     }
 
 }
 
@media(max-width:390px){
    .fotosobrenos{
        height: 40vh;
    }
    .cestafull{
        height: 25vh;
    }
    .textrastreio{
        font-size: 10px;
    }
}
 
 
        
*/
@media(max-width: 600px){
    
   .cabecalho{
    width: 10vh;
    height: auto;
    justify-content: flex-start;
    min-width: 100%;
    flex-direction: column;
   }

   .ButtonImg img {
    height: auto;
    margin: 10px 5px 20px 5px;
   }

   .head{
    flex-direction: column;
   }

   .logovilla{
    margin-top: 20px;
    padding-left: 0;
    margin-right: 0;
   }

   .nav-item {
    margin-right: 0;
   }

   .iniciobutton{
    font-size: 10px;
    margin-right: 1rem;
    padding-right: 0;
    margin-left: 0.3rem;

    }
    .sobrebutton{
        font-size: 10px;
        padding-right: 0;
        margin-right: 1rem;
    }    
    
    .Produtosbutton{
        font-size: 10px;
        padding-right: 0;
        margin-right: 1rem;
    
    }
    .contatobutton{
        font-size: 10px;
        padding-right: 0rem;
        margin-right: 1rem;
    }
    .icones{
        display: flex;
    
    }
    
    
    .Buttonface{
        height: 0.7vh;
    }
    .Buttoninsta{
        height: 1vh;
    }
    .buttoninsta{
        height: 2vh;
    }
    .buttonface{
        height: 2vh;
    }
    .buttonwhats{
        height: 2vh;
    }
    .Felipe{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .fotosobrenos{
        display: block;
        width: 100%;
        height: 45vh;
    }

    
    .banner{
        width: auto;
    }
    /*.textosVilla{
        
    }
    */
    .textVilla{
        margin-left: 0;
        line-height: 20px;
        margin-right: 3rem;
        letter-spacing: 0.5px;
        font-size: 15px;
    }
    .tittleVilla{
        margin-top: 1rem;
        margin-left: 0;
    }

    .Produtos{
        
        background-size: cover;
        height: 50vh;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ling1{
        height: 19vh;
        margin-right: 0rem;
    }
    .ling2{
        height: 19vh;
        margin-left: 6rem;
    }
    .ling3{
        height: 19vh;
    }
    .ling4{
        height: 19vh;
        
    }

    .tittleprodutos{
        font-size: 20px;
        padding-top: 1rem;
        margin-bottom: 0.5rem;
    }
    


    .rastreio{
        width: 100%;
        height: 30vh;
        margin-right: 0rem;

    }
    .textrastreio{
        font-size: 9px;
        text-align:right;
        width: 100%;
        line-height: 10px;
        
        
    }
    .tittlerastreabilidade{
        font-size: 15px;
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-top: 2rem;
       
        
    }
    .cestafull{
        display: block;
        height: 30vh;
        margin-left: 3rem;
    }
    
    .inforastreio{
        margin-right: 4rem;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .iconesrastreio{
        margin-bottom: 0;
        margin-top: 2rem;
        padding-top: 3.5rem;
    }
    .fornecedores{
        height: 30vh;
    }
    .fornecedor01{
        height: 15vh;
    }
    .fornecedor02{
        height: 15vh;
    }
    .fornecedor03{
        height: 15vh;
    }
    .imgrastreio{
        display: none;
    }
    
    .sustentabilidade{
        display: block;
        background-size: cover;
        width: auto;
        background-position: right 26% bottom 20%;
        height: 60vh;
        
    }
    .tittlesustentabilidade{
        font-size: 30px;
        margin-left: 1rem;
    }
    .textsustentabilidade{
        font-size: 9px;
        margin-left: 1rem;
    }
    .mapbox{
        display:flex;
    }

    .foot{
        display: flex;
       
    }
    .textfoot{
        color: aliceblue;
        font-size: 13px;
    }

}

@media(max-width: 320px){
    .cabecalho{
        width: 100%;
    }
}


       