@font-face {
    font-family:Muli-Black ;
    src: url('Muli-Black');
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #1a0a00;

}

.logovilla{
    margin-left: 6rem;
}

.imagensinicial{
    border-bottom:12px solid #d27339

}
.iniciobutton{
    margin-right: 6rem;
}

.sobrebutton{
    margin-right: 5rem;
}

.Produtosbutton{
    margin-right: 4rem;

}
.contatobutton{
    margin-right: 3rem;
}

.banner01{
    width: 100%;
    
}

.botoes{
    margin-right: 3rem;
}
.whatsimg{
    width: 2vw;
    height: 2vh;

}


.instaimg{
    width: 2vw;
    height: 2vh;

}

.faceimg{
    width: 2vw;
    height: 2vh;
}

.Felipe{
    display: flex;
    justify-content: flex-end;
}
.botoes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}
.botoes{
    background-color: #1a0a00;
    border: none;
}

.textVilla{
    margin-top: 2rem;
    font-size: 25px;
    font-family: 'Muli', sans-serif;
}

.tittleVilla{
    padding-top: 2rem;
    font-size: 80px;
    color: #5b2d00;
    font-family: 'Muli', sans-serif;
    font-weight:bolder;
    
}


.textosVilla{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    
}

.Produtos{
    display: flex;
    background-image: url(bkg\ linguiças.png);
    background-size: 100vw;
    height: 86vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.tittleprodutos{
    color: #d27339;
    font-size: 65px;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    
}

.ling1{
    height: 70vh;
}

.ling2{
    height: 70vh;
}


.ling3{
    height: 70vh;
}


header a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color:#a3854f;

}
header a:after{
    content: "";
    position: absolute;
    background-color: #a3854f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

header a:hover:after{
    width: 100%;
}