@font-face {
    font-family:Muli-Black ;
    src: url('Muli-Black');
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #1a0a00;
    height: 9vh;
    min-width: 600px;
    

}

.logovilla{
    padding-left: 6rem;
    height: 7vh;
    padding-top: 0.5rem;
}

.imagensinicial{
    border-bottom:12px solid #d27339;
    

}
.iniciobutton{
    padding-right: 3.5rem;
}

.sobrebutton{
    padding-right: 3rem;
}

.Produtosbutton{
    padding-right: 2.5rem;

}
.contatobutton{
    padding-right: 2rem;
}

.banner01{
    width:100%;

    
}

.botoes{
    margin-right: 3rem;
}
.whatsimg{
    width: 2vw;
    height: 2vh;

}


.instaimg{
    width: 2vw;
    height: 2vh;

}

html{
    scroll-behavior: smooth;
}

.faceimg{
    width: 2vw;
    height: 2vh;
}

.Felipe{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}


.fotoFelipe{
    width: 57%;
    height: 40%;
}



.botoes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}
.botoes{
    background-color: #1a0a00;
    border: none;
}


.textVilla{
    margin-top: 2rem;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    letter-spacing: 2px;

}

.tittleVilla{
    padding-top: 2rem;
    font-size: 60px;
    color: #5b2d00;
    font-family: 'Muli', sans-serif;
    font-weight:900;
    
}

.textosVilla{
    margin-left: 3rem;
}




.Produtos{
    display: flex;
    background-image: url(bkg\ linguiças.png);
    background-size: 100vw;
    height: 86vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.tittleprodutos{
    color: #d27339;
    font-size: 65px;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    
}

.ling1{
    height: 70vh;
}

.ling2{
    height: 70vh;
}


.ling3{
    height: 70vh;
}


header a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color:#a3854f;

}
header a:after{
    content: "";
    position: absolute;
    background-color: #a3854f;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

header a:hover:after{
    width: 50%;
}
.rastreio{
    display: flex;
    height: 70vh;
    justify-content: center;   
    align-items: center; 



}
.inforastreio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.imgrastreio{
    height: 70vh;
    margin-left: 2rem;
    
}

.tittlerastreabilidade{
    font-size: 60px;
    font-family: 'Muli-Black', sans-serif;
    font-weight: bolder;
    color: #d27339;
    text-align: right;
    margin-right: 4rem;
    

}

.textrastreio{
    font-size: 20px;
    margin-right: 2%;
    margin-top: 2rem;
    font-family: 'Muli',sans-serif;
    text-align: right;
    letter-spacing: 2px;
    margin-right: 4rem;
}

.fornecedores{
    background-image: url(./bkg.png);
    

}

.fornecedor01{
    height: 45vh;
}

.fornecedor02{
    height: 45vh ;

}

.fornecedor03{
    height: 45vh;
}
.iconesrastreio{
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.sustentabilidade{
    height: 66vh;
    background-image: url(./sustentabilidade.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}


.textsustentabilidade{
    color: white;
    font-size: 20px;
    margin-top: 2rem;
    font-family: 'Muli', sans-serif;
    font-weight:initial;
    letter-spacing: 2px;
    margin-left: 2rem;
}


.tittlesustentabilidade{
    font-size: 80px;
    font-family: 'Muli-Black', sans-serif;
    font-weight: 900;
    color: rgb(25, 54, 25);
    margin-left: 2rem;

}

.mapa{
    width: 99vw;
    height: 60vh;
}




/*SCROLL*/
    
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #8f522c;       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #1a0a00;   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #a3854f;  /* creates padding around scroll thumb */
  }